* {
	margin: 0;
	padding: 0;
}
a.active {
	font-weight: bold;
}
.home {
	position: relative;
}
.home .title {
	height: 50px;
	line-height: 50px;
	font-size: 36px;
}
.home .icons {
	margin-top: 30px;
	text-align: center;
}
.home .icon {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	border: solid 1px #333;
	margin: 0 30px;
}
.home .about {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
}